[submodule "website"]
	path = website
	url = https://gitlab.com/Manouchehri/COMP1406-website.git
[submodule "tutorial1"]
	path = tutorial-1
	url = https://gitlab.com/Manouchehri/COMP1406-Tutorial1.git
[submodule "tutorial2"]
	path = tutorial-2
	url = https://gitlab.com/Manouchehri/COMP1406-Tutorial2.git
[submodule "assignment-1"]
	path = assignment-1
	url = https://github.com/Manouchehri/COMP1406-Assignment1.git
